## Gavin Trumbull
# assignment 3, eric matthes, 2nd edition, spring 2023
# CS150

In [9]:
numbers=[2,4,6,8,10,12]
numbers

[2, 4, 6, 8, 10, 12]

The append command adds an element to the end of a set

In [10]:
numbers.append(14)
numbers

[2, 4, 6, 8, 10, 12, 14]

Insert puts an element into a set given the element and the index of the new element.

In [11]:
numbers.insert(1,3)

remove takes an element out of a set given the name of the element.

In [12]:
numbers.remove(4)

count outputs the number of times an element appears in a set.

In [19]:
numbers.count(2)

1

index ouputs the index value of the first instance of an element appearing in a list.

In [21]:
numbers.index(6)

2

pop removes an element from a set given its index. the poped element can be given a variable and used once poped

In [ ]:
number1=numbers.pop(1)

sorted temporarily puts the elements of a set in a particular order.

In [23]:
letters2=('n','r','v','j','e','s','h','f','i','o')
sorted(letters2)

['e', 'f', 'h', 'i', 'j', 'n', 'o', 'r', 's', 'v']

You can copy a list into another list by setting the new list equal to a slice of the old list containing all of the elements form the old list. This will create a new list containing the exact same elements as another list.

In [15]:
list1=[1,2,3,4,5,6,7,8]
list2=list1[:]
print(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

clear removes all the elements from a set.

In [16]:
list1.clear()
print(list1)

[]

list outputs a group of letters, numbers, or  as a colection of elements in a list.

In [22]:
string="this is a string"
string_list=list(string)
print(string_list)

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g']

len outputs the number of charactors(including spaces) in a string or elements in a set.

In [2]:
factor="this string"
len(factor)

11

max outputs the element with the largest value from a set.

In [7]:
newlist=(1,2,3,4,5,6,7)
max(newlist)

7

min outputs the element with the smallest value from a set.

In [8]:
min(newlist)

1